################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hgindra.AspnetCore.SecurityHeaders/bin
/Hgindra.AspnetCore.SecurityHeaders/obj
